/*
======================================
; Title: gorham-bobs-auto-repair.css 
; Author: Professor Krasso
; Date: 30 Jan 2023
; Modified By: Chris Gorham
; Description: This code is for additional styling requirements of Bob's Automotive Repair Shop
; Sources Used: Web 330 HTML, CSS, and JavaScript Requirements Word Document
;=====================================
*/


/* Added to match the example */
.btn-modified {
    width: 100%;
}

#cart-message {
    float: right;
}

.cart-message:hover {
    cursor: pointer;
}