/*
======================================
; Title: gorham-bobs-auto-repair.css 
; Author: Professor Krasso
; Date: 30 Jan 2023
; Modified By: Chris Gorham
; Description: This code is for additional styling requirements of Bob's Automotive Repair Shop
; Sources Used: Web 330 HTML, CSS, and JavaScript Requirements Word Document
;=====================================
*/


/* Added to match the example */
.btn-modified {
    width: 100%;
}

#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

.cart-message:hover {
    cursor: pointer;
}

/* Added to match the example */
.th-modified {
    padding: 9px;
    text-align: left;
}

/* Added to match the example */
.td-modified {
    padding: 5px;
}