/*
======================================
; Title: restaurant.css 
; Author: Professor Krasso
; Date: 02 Jan 2023
; Modified By: Chris Gorham
; Description: This code styles additional things needed for the Restaurant App
; Sources Used: Web 330 HTML, CSS, and JavaScript Requirements Word Document
;=====================================
*/

/* makes the grid for the beverages, appetizers, main courses, and desserts in the Restaurant Menu and to match the styling in the example */
.grid-container {
    margin-bottom: 10px;
    display: inline-grid;
    grid-template-columns: 65% 65%;
    padding: 10px;
    grid-gap: 10px;
}
